[submodule "layers/poky"]
	path = layers/poky
	url = https://github.com/yoctoproject/poky.git
	branch = scarthgap
[submodule "layers/openembedded-core"]
	path = layers/openembedded-core
	url = git://git.openembedded.org/openembedded-core
	branch = scarthgap
[submodule "layers/meta-raspberrypi"]
	path = layers/meta-raspberrypi
	url = git://git.yoctoproject.org/meta-raspberrypi
	branch = scarthgap
[submodule "layers/meta-openembedded"]
	path = layers/meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
	branch = scarthgap
[submodule "layers/meta-pitrac"]
	path = layers/meta-pitrac
	url = https://github.com/Sammich10/meta-pitrac.git
	branch = scarthgap
[submodule "layers/meta-u-boot-mixin"]
	path = layers/meta-u-boot-mixin
	url = https://git.yoctoproject.org/meta-lts-mixins
	branch = scarthgap/u-boot
[submodule "layers/meta-java"]
	path = layers/meta-java
	url = https://github.com/meta-java/meta-java.git
	branch = scarthgap
[submodule "layers/meta-qt5"]
	path = layers/meta-qt5
	url = https://github.com/meta-qt5/meta-qt5.git
	branch = scarthgap
